* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #f7f7f7;
  color: #111;
}

.header {
  width: 100%;
  height: 10vh;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
}

.headerTitle {
  border: 2px solid black;
  width: 50%;
}

.headerLogo {
  border: 2px solid black;
  width: 50%;
}

.libraryContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;

}

.libraryTitle {
  width: 100%;
  height: 10%;
  border: 2px solid black;
}

.bookShelfContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90%;
  border: 2px solid black;
}

.bookShelfHeader {
  width: 100%;
  height: 20%;
  border: 2px solid black;
  background-color: lightcyan;
}

.bookShelf {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;

  border: 2px solid black;
  padding: 20px 0px;
}

.book {
  width: 75%;
  height: 10%;
  border: 2px solid black;
  background-color: gray;
  margin: 5px;
  padding: 10px;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.modalContent{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.deleteBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

